<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #174a8c;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #ef5330;
            text-decoration: none;
            color: white;
        }
    </style>
</head>

{{!-- {{#if (eq employee.role 'StationE')}}
{{>station_employee/header}}
{{else if employee}} --}}
{{#if employee}}
<ul>
    <li><a class="active" href="/profile/view">Hồ sơ</a></li>
    {{!-- <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li> --}}
    <li><a href="/createReceipt">Tạo đơn</a></li>
    {{#if (eq employee.role 'StationAd')}}
    <li><a href="/register">Tạo tài khoản</a></li>
    <li><a href="/statistic_stationAd/{{station.stationCode}}">Thống kê</a></li>
    {{else if (eq employee.role 'WarehouseAd')}}
    <li><a href="/register">Tạo tài khoản</a></li>
    <li><a href="/statistic_warehouseAd/{{station.warehouseCode}}">Thống kê</a></li>
    {{else if (eq employee.role 'Manager')}}
    <li><a href="/register">Tạo tài khoản</a></li>
    <li><a href="/statistic_manager">Thống kê</a></li>
    {{else}}
    <li><a href="/statistic_stationE/{{employee._id}}">Thống kê</a></li>

    {{/if}}

    {{#if (eq employee.role 'StationAd')}}
    <li><a href="/supervisor/humanResource">Quản lý nhân sự</a></li>
    {{else if (eq employee.role 'WarehouseAd')}}
    <li><a href="/supervisor/humanResource">Quản lý nhân sự</a></li>
    {{else if (eq employee.role 'Manager')}}
    <li><a href="/supervisor/humanResource">Quản lý nhân sự</a></li>
    {{/if}}

    {{#if (eq employee.role 'Manager')}}
    <li><a href="/view_warehouses">Quản lý điểm tập kết</a></li>
    <li><a href="/view_stations">Quản lý điểm giao dịch</a></li>
    {{/if}}
    <li><a id="logoutBtn" href="#">Đăng xuất</a></li>

</ul>
{{/if}}

<script>
    const logoutBtn = document.getElementById('logoutBtn');
    logoutBtn.addEventListener('click', () => {
        fetch("/logout", {
            method: "post",
            headers: {
                "Content-Type": "application/json",
            },
            body: ''
        })
            .then((response) => {
                if (response.ok) {
                    return response.json();

                } else {
                    alert("Đăng xuất thất bại!");
                }
            })
            .then((data) => {
                alert(data.message);
                window.location = "/";

            })
            .catch((error) => {
                console.log(error);
            });
    });
</script>