<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #174a8c;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #ef5330;
        }
    </style>
</head>

{{!-- {{#if (eq employee.role 'StationE')}}
{{>station_employee/header}}
{{else if employee}} --}}
{{#if employee}}
<ul>
    <li><a class="active" href="/profile/view">Home</a></li>
    <li><a href="/logout">Logout</a></li>
    {{!-- <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li> --}}
    <li><a href="/createReceipt">Tạo đơn</a></li>
    {{#if (eq employee.role 'StationAd')}}
    <li><a href="/register">Register</a></li>
    <li><a href="/statistic_stationAd/{{station.stationCode}}">Statistic</a></li>
    {{else if (eq employee.role 'WarehouseAd')}}
    <li><a href="/register">Register</a></li>
    <li><a href="/statistic_warehouseAd/{{station.warehouseCode}}">Statistic</a></li>
    {{else if (eq employee.role 'Manager')}}
    <li><a href="/register">Register</a></li>
    <li><a href="/statistic_manager">Statistic</a></li>
    {{else}}
    <li><a href="/statistic_stationE/{{employee._id}}">Statistic</a></li>
    
    {{/if}}

    {{#if (eq employee.role 'StationAd')}}
    <li><a href="/supervisor/humanResource">Human Resource</a></li>
    {{else if (eq employee.role 'WarehouseAd')}}
    <li><a href="/supervisor/humanResource">Human Resource</a></li>
    {{else if (eq employee.role 'Manager')}}
    <li><a href="/supervisor/humanResource">Human Resource</a></li>
    {{/if}}

</ul>
{{/if}}