<div class="container-sm">
<form name="container-form" class="mt-4" method="POST" action="/employees/handle-form-actions">
<form name="container-form" class="mt-4" method="POST" action="/employees/handle-form-actions">
  <div>
    <h3> Danh sách nhân viên </h3>
    <h3> Danh sách nhân viên </h3>
    {{!-- {{#if deletedCount}}  --}}
    <a href = "/oldBin"> Danh sách nhân viên đã nghỉ việc</a>
    <a href = "/oldBin"> Danh sách nhân viên đã nghỉ việc</a>

    {{!-- {{/if}} --}}

    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>


      <select class="form-control form-control-sm checkbox-select-all-options" id="exampleFormControlSelect1"
        name="action" >
        {{!-- required> --}}
        <option value="delete"> Xóa </option>
        <option value="update"> Sửa </option>
        <option value=""></option>
        <option value=""></option>
      </select>

      <!--<button class="btn btn-primary btn-sm check-all-submit-btn" disabled>-->
      <button class="btn btn-primary btn-sm check-all-submit-btn">
        Thực hiện
      </button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col"> First Name </th>
        <th scope="col"> Last Name </th>
        <th scope="col"> Role </th>
        <th scope="col"> Work Address</th>
        <th scope="col" colspan='2'></th>
      </tr>
    </thead>

    <tbody>
      {{#each employees}}
      <tr>
        <td>
          <input class="form-check-input" type="checkbox" name="employeeIds[]" value="{{this._id}}" id="">
        </td>

        <th scope="row">{{sum @index 1}}</th> <!-- sum(index, 1)-->
        <td> {{this.firstName}}</td>
        <td> {{this.lastName}}</td>
        <td> {{this.role}}</td>
        <td>{{this.workAddress}}</td>
        <td>
          <a href="/products/{{this._id}}/edit" class="btn btn-link">Sửa</button>
          {{!-- <button class="btn btn-link" data-toggle="modal" data-target="#delete-employee-modal" data-id = "{{this._id}}">Xóa</button> --}}
        </td>
      </tr>

      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Chưa có nhân viên nào.
          <a href="/register"> Đăng ký tài khoản cho nhân viên </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
</div>

<!-- Confirm delete product fdsgdsgdsg
-->

<div class="modal" id="delete-employee-modal" tabindex="-1" role="dialog">
<div class="modal" id="delete-employee-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Xóa tài khoản nhân viên này?</h5>
        <h5 class="modal-title"> Xóa tài khoản nhân viên này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Bạn chắc chắn muốn xóa tài khoản của nhân viên này? </p>
        <p> Bạn chắc chắn muốn xóa tài khoản của nhân viên này? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-employee"> Xóa bỏ </button>
        <button type="button" class="btn btn-danger" id="btn-delete-employee"> Xóa bỏ </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Hủy </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete hidden form -->

<form name="delete-employee-form" method="post" action = "/products/{{this._id}}/delete">
<form name="delete-employee-form" method="post" action = "/products/{{this._id}}/delete">

</form>



<script>

  // when dialog confirm clicked
  document.addEventListener('DOMContentLoaded', function () {
    var employeeIds;
    var deleteForm = document.forms['delete-employee-form'];
    var btnDeleteEmployee = document.getElementById('btn-delete-employee');
    var checkboxAll = $('#checkbox-all');
    var employeeItemCheckbox = $('input[name = "employeeIds[]"]');
    var checkAllSubmitBtn = $('.check-all-submit-btn');
    // var containerForm = document.forms['container-form'];
    var containerForm = $('form[name="container-form"]');

    //console.log(containerForm);

    $('#delete-employee-modal').on('show.bs.modal', function (event) {
    $('#delete-employee-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var id = button.data('id'); // Extract info from data-* attributes
      employeeIds = id;
      console.log("BUTTON CLICK");
    });

    // khi ấn xác định xóa

    btnDeleteEmployee.onclick = function () {
    btnDeleteEmployee.onclick = function () {
      //alert(productId);
      deleteForm.action = '/employees/' + employeeIds + '?_method=DELETE';
      deleteForm.submit();
    }

    // when checkbox all checked
    // xu ly checkbox

    checkboxAll.change(function () {
      var isCheckedAll = $(this).prop('checked');
      /*
      if(isCheckedAll) {
        employeeItemCheckbox.prop('checked', true); // neu checkboxAll dc check thi checked all 
      } else {
        employeeItemCheckbox.prop('checked', false);
      }*/
      /*viet ngan hon*/
      employeeItemCheckbox.prop('checked', isCheckedAll);
    });


    // employeeItemCheckbox changed
    employeeItemCheckbox.change(function () {
      var isCheckedAll_ = employeeItemCheckbox.length === $('input[name="employeeIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckedAll_);
    });


    // rerender check all submit button
    /*
    employeeItemCheckbox.change(function(){
      var checkedCount = $('input[name="employeeIds[]"]:checked').length;
      if(checkedCount > 0) {
          checkAllSubmitBtn.attr('disabled', false);
      }
      else {
        checkAllSubmitBtn.attr('disabled', true);
      }

      //console.log(checkAllSubmitBtn);
    }) */
  });

</script>