<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
    :root {
        --blue-color: #174a8c;
        --orange-color: #ef6030;
    }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<body class="bg-default">
    <div class="main-content">

    </div>
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">

        <div class="header">
            <div id="titlecode">
        <h2 class="mb-5 text-black text-uppercase text-muted" style="margin: 15px; font-size: 24px">{{title}}</h2>
        <h2 class="mb-5 text-black text-uppercase text-muted" style="margin: 15px; font-size: 24px">MÃ ĐIỂM GIAO
            DỊCH: {{stationCode}}</h2>
            
    </div>

    <style>
        #titlecode {
            display: flex;
            justify-content: space-between;
        }

    </style>
            <div class="button-container">
                <button class="button" onclick="submitWithStationCode1('{{stationCode}}')">Trong ngày</button>
                <button class="button" onclick="submitWithStationCode2('{{stationCode}}')">Trong tuần</button>
                <button class="button" onclick="submitWithStationCode3('{{stationCode}}')">Trong tháng</button>
                <button class="button" onclick="submitWithStationCode4('{{stationCode}}')">Trong tháng</button>
            </div>
            <style>
                .header {

                    font-family: inherit;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }

                .button-container {
                    margin-bottom: 25px;
                    display: flex;
                    justify-content: center;
                }

                .button {
                    padding: 10px 30px;
                    margin: 5px;
                    font-size: 16px;
                    background-color: #3498db;
                    color: #fff;
                    border: none;
                    border-radius: 25px;
                    cursor: pointer;
                }

                .button:hover {
                    background-color: #2980b9;
                }
            </style>
                <script>
    function submitWithStationCode1(stationCode) {
        const url = `/statistic_stationAd/daily/${stationCode}`;
        window.location.href = url;
    }
    function submitWithStationCode2(stationCode) {
        const url = `/statistic_stationAd/week/${stationCode}`;
        window.location.href = url;
    }
    function submitWithStationCode3(stationCode) {
        const url = `/statistic_stationAd/month/${stationCode}`;
        window.location.href = url;
    }
    function submitWithStationCode4(stationCode) {
        const url = `/statistic_stationAd/year/${stationCode}`;
        window.location.href = url;
    }

</script>
        </div>
        <div class="container-fluid">
            {{!-- <h2 class="mb-5 text-white">Stats Card</h2> --}}
            <div class="header-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Số bưu kiện khách gửi tại điểm giao dịch</h5>
                                        <span class="h2 font-weight-bold mb-0">{{#if dailyInCount }}
                                                                            {{dailyCustomerReceivedCount}}
                                                                        {{else}}
                                                                            {{#if weekInCount }}
                                                                                {{weekCustomerReceivedCount}}
                                                                            {{else}}
                                                                                {{#if monthInCount }}
                                                                                    {{monthCustomerReceivedCount}}
                                                                                {{else}}
                                                                                    {{#if yearInCount }}
                                                                                        {{yearCustomerReceivedCount}}
                                                                                    {{else}}
                                                                                        
                                                                                    {{/if}}
                                                                                {{/if}}
                                                                            {{/if}}
                                                                        {{/if}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-chart-bar"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Số bưu kiện nhận về từ điểm tập kết</h5>
                                        <span class="h2 font-weight-bold mb-0">{{#if dailyInCount }}
                                                                            {{stationDailyWarehouseReceivedCount}}
                                                                        {{else}}
                                                                            {{#if weekInCount }}
                                                                                {{stationWeekWarehouseReceivedCount}}
                                                                            {{else}}
                                                                                {{#if monthInCount }}
                                                                                    {{stationMonthWarehouseReceivedCount}}
                                                                                {{else}}
                                                                                    {{#if yearInCount }}
                                                                                        {{stationYearWarehouseReceivedCount}}
                                                                                    {{else}}
                                                                                        
                                                                                    {{/if}}
                                                                                {{/if}}
                                                                            {{/if}}
                                                                        {{/if}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Số bưu kiện gửi đi điểm tập kết</h5>
                                        <span class="h2 font-weight-bold mb-0">{{#if dailyInCount }}
                                                                            {{stationDailySendtoWarehouseCount}}
                                                                        {{else}}
                                                                            {{#if weekInCount }}
                                                                                {{stationWeekSendtoWarehouseCount}}
                                                                            {{else}}
                                                                                {{#if monthInCount }}
                                                                                    {{stationMonthSendtoWarehouseCount}}
                                                                                {{else}}
                                                                                    {{#if yearInCount }}
                                                                                        {{stationYearSendtoWarehouseCount}}
                                                                                    {{else}}
                                                                                        
                                                                                    {{/if}}
                                                                                {{/if}}
                                                                            {{/if}}
                                                                        {{/if}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Số bưu kiện giao cho khách</h5>
                                        <span class="h2 font-weight-bold mb-0">{{#if dailyInCount }}
                                                                            {{dailySentToCustomerCount}}
                                                                        {{else}}
                                                                            {{#if weekInCount }}
                                                                                {{weekSentToCustomerCount}}
                                                                            {{else}}
                                                                                {{#if monthInCount }}
                                                                                    {{monthSentToCustomerCount}}
                                                                                {{else}}
                                                                                    {{#if yearInCount }}
                                                                                        {{yearSentToCustomerCount}}
                                                                                    {{else}}
                                                                                        
                                                                                    {{/if}}
                                                                                {{/if}}
                                                                            {{/if}}
                                                                        {{/if}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-percent"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            h2,
            h5,
            .h2,
            .h5 {
                font-family: inherit;
                font-weight: 600;
                line-height: 1.5;
                margin-bottom: .5rem;
                color: #32325d;
            }

            h5,
            .h5 {
                font-size: .8125rem;
            }

            @media (min-width: 992px) {

                .col-lg-6 {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
            }

            @media (min-width: 1200px) {

                .col-xl-3 {
                    max-width: 25%;
                    flex: 0 0 25%;
                }

                .col-xl-6 {
                    max-width: 50%;
                    flex: 0 0 50%;
                }
            }


            .bg-danger {
                background-color: #f5365c !important;
            }



            @media (min-width: 1200px) {

                .justify-content-xl-between {
                    justify-content: space-between !important;
                }
            }


            .pt-5 {
                padding-top: 3rem !important;
            }

            .pb-8 {
                padding-bottom: 8rem !important;
            }

            @media (min-width: 768px) {

                .pt-md-8 {
                    padding-top: 8rem !important;
                }
            }

            @media (min-width: 1200px) {

                .mb-xl-0 {
                    margin-bottom: 0 !important;
                }
            }




            .font-weight-bold {
                font-weight: 600 !important;
            }


            a.text-success:hover,
            a.text-success:focus {
                color: #24a46d !important;
            }

            .text-warning {
                color: #fb6340 !important;
            }

            a.text-warning:hover,
            a.text-warning:focus {
                color: #fa3a0e !important;
            }

            .text-danger {
                color: #f5365c !important;
            }

            a.text-danger:hover,
            a.text-danger:focus {
                color: #ec0c38 !important;
            }

            .text-white {
                color: #fff !important;
            }

            a.text-white:hover,
            a.text-white:focus {
                color: #e6e6e6 !important;
            }

            .text-muted {
                color: #8898aa !important;
            }

            @media print {

                *,
                *::before,
                *::after {
                    box-shadow: none !important;
                    text-shadow: none !important;
                }

                a:not(.btn) {
                    text-decoration: underline;
                }

                p,
                h2 {
                    orphans: 3;
                    widows: 3;
                }

                h2 {
                    page-break-after: avoid;
                }

                @ page {
                    size: a3;
                }

                body {
                    min-width: 992px !important;
                }
            }

            figcaption,
            main {
                display: block;
            }

            main {
                overflow: hidden;
            }

            .bg-yellow {
                background-color: #ffd600 !important;
            }

            .icon {
                width: 3rem;
                height: 3rem;
            }

            .icon i {
                font-size: 2.25rem;
            }

            .icon-shape {
                display: inline-flex;
                padding: 12px;
                text-align: center;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
            }
        </style>
        <div class="chartStatt">
            <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
            <script>
                $(document).ready(function () {
                    var ctx = $("#chart-line");
                    var myLineChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ["Giao hàng thành công", "Không giao thành công"],
                            datasets: [{ 
                                                                        {{#if (eq code 1) }}
                                                                            data: [{{ postSuccess }}, {{ postFail }}],
                                                                        {{else}}
                                                                            {{#if (eq code 2) }}
                                                                                data: [{{ postSuccess }}, {{ postFail }}],
                                                                            {{else}}
                                                                                {{#if (eq code 3) }}
                                                                                    data: [{{ postSuccess }}, {{ postFail }}],
                                                                                {{else}}
                                                                                    {{#if (eq code 4) }}
                                                                                        data: [{{ postSuccess }}, {{ postFail }}],
                                                                                    {{else}}
                                                                                        data: [],
                                                                                    {{/if}}
                                                                                {{/if}}
                                                                            {{/if}}
                                                                        {{/if}}
                            backgroundColor: ["#174a8c", "#ef6030"]
        }]
            },
                    options: {
                    title: {
                        display: true,
                        text: 'Thống kê '
                    }
                }
        });
    });
            </script>
            <div class="page-content page-container mx-auto" id="page-content">
                <div class="padding">
                    <div class="row">
                        <div class="container-fluid d-flex justify-content-center mx-auto">
                            <div class="col-sm-8 col-md-6">
                                <div class="card">
                                    <div class="card-header">Đơn hàng</div>
                                    <div class="card-body" style="height: 420px">
                                        <div class="chartjs-size-monitor"
                                            style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                            <div class="chartjs-size-monitor-expand"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div
                                                    style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                                </div>
                                            </div>
                                            <div class="chartjs-size-monitor-shrink"
                                                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                                <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                                                </div>
                                            </div>
                                        </div> <canvas id="chart-line" width="299" height="200"
                                            class="chartjs-render-monitor"
                                            style="display: block; width: 299px; height: 200px;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                body {

                    background-color: #f9f9fa
                }

                .flex {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto
                }

                @media (max-width:991.98px) {
                    .padding {
                        padding: 1.5rem
                    }
                }

                @media (max-width:767.98px) {
                    .padding {
                        padding: 1rem
                    }
                }

                .padding {
                    padding: 5rem
                }

                .card {
                    background: #fff;
                    border-width: 0;
                    border-radius: .25rem;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
                    margin-bottom: 1.5rem
                }

                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 1px solid rgba(19, 24, 44, .125);
                    border-radius: .25rem
                }

                .card-header {
                    padding: .75rem 1.25rem;
                    margin-bottom: 0;
                    background-color: rgba(19, 24, 44, .03);
                    border-bottom: 1px solid rgba(19, 24, 44, .125)
                }

                .card-header:first-child {
                    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
                }

                card-footer,
                .card-header {
                    background-color: transparent;
                    border-color: rgba(160, 175, 185, .15);
                    background-clip: padding-box
                }
            </style>
        </div>
    </div>

    <!-- Page content -->

    </div>

</body>