<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/confirm_order.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container mt-5 px-2">
    <div class="table-responsive">
        <table class="table table-responsive caption-top text-center" style="vertical-align: middle;">
            <caption style="font-size: 1.1rem;"><strong>Xác nhận <span
                        style="color: brown;">{{desStation.name}}</span> đã nhận được các mã hàng trong lô hàng <span
                        style="color: brown">{{container.containerCode}}</span> gửi về từ
                    <span style="color: brown;">{{originWarehouse.name}}</span>:</strong></caption>
            <thead>
                <tr style="background-color: #eeeeee;">
                    <th class="border-0" scope="col" width="12%">Mã hàng</th>
                    <th class="border-0" scope="col" width="13%">Tên hàng</th>
                    <th class="border-0" scope="col" width="17%">Loại hàng</th>
                    <th class="border-0" scope="col" width="15%">Trọng lượng</th>
                    <th class="border-0" scope="col" width="27%">Tình trạng</th>
                    <th class="border-0" scope="col" width="16%"><label class="confirm-checkbox"><input class="form-check-input" type="checkbox"> Xác nhận</label></th>
                </tr>
            </thead>
            <tbody>
                {{#each posts}}
                <tr>
                    <td >{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.genre}}</td>
                    <td>{{this.weight}}</td>
                    <td><span class="rounded-pill align-items-center"
                            style="background-color: rgb(251, 242, 178); padding: 1px 9px"><i class="fa fa-circle"
                                style="font-size: 11px; color: rgb(243, 183, 31)"></i><span class="ms-1"
                                style="color: rgb(231, 162, 14); font-weight: bold;">Đang trung chuyển</span></span>
                    </td>
                    <td><label class="confirm-checkbox"><input class="form-check-input" type="checkbox"><strong style="color: rgb(27, 178, 27);"> Đã nhận</strong></label>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>

